{% if AUTODBRESTORE_SETTINGS.show_notice %}
<div class="rules" style="position: relative; overflow: hidden">
	{% if AUTODBRESTORE_SETTINGS.auto_refresh %}<div id="autodbrestore-progress" class="bg2" style="position: absolute; top: 0; left: 0; bottom: 0; opacity: 0.6;"></div>{% endif %}
	<div class="inner">
		<i class="fa fa-exclamation-circle" aria-hidden="true"></i>
		{{ AUTODBRESTORE_NOTICE }}
	</div>
</div>
{% endif %}

{% if AUTODBRESTORE_SETTINGS.auto_refresh %}
{% INCLUDEJS '@blitze_autodbrestore/countdown.js' %}
<script type="text/javascript">
// <![CDATA[
	var autodbrestore_frequency = {{ AUTODBRESTORE_SETTINGS.restore_frequency|e('js') }};
	var autodbrestore_lastrun = {{ AUTODBRESTORE_SETTINGS.cron_last_run|e('js') }};
// ]]>
</script>
{% endif %}